/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    /*border: 1px solid #888;*/
    width: 350px;
    border-radius:0px;
    overflow:hidden;
    position:relative;
}
.modal-content .header{
    background: #8E6D56;
    padding: 5px 0px 5px 17px;
}
.modal-content .header h1{
    padding: 0px;
    margin: 0px;
    color: #fff;
    font-size: 16px;
}
.modal-content .body{
    background: #ffffff;
    padding: 10px 10px;
}
.modal-content .body .label{
    
}
.modal-content .body p{
    font-weight: bold;
    font-size: 14px;
}
.modal-content .bottom{
    background: #ffffff;
    padding: 10px 10px;   
    border-top : 1px solid #cfcfcf;
}
.modal-content .bottom .modalButton{
    float: right;
    background: #000;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 0px 5px;
}
.close_modal_cross{
    position: absolute;
    top: 3px;
    right: 4px;
    color: #fff;
    font-size: 20px;
    cursor:pointer;
}